.login-btn {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  margin: 10px auto;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 999px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-btn:hover {
  background-color: #ffffff20;
}

.login-btn i,
.login-btn img {
  font-size: 18px;
}

.apple-icon {
  width: 18px;
  height: 18px;
}
